/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 25.08.2016
 * Author: aglovlyuk@gmail.co
 */

$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1200px
);
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'base/include-media';

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import 'buttons';

body{
	padding-top: 127px;
	@include media('>=screen-sm'){
		padding-top: 59px;
	}
}
.header{
	z-index: 999;
	&:after{
		content: '';
		position: absolute;
		background: $body-bg;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	&:before{
		@include xcenter;
		content: '';
		z-index: -1;
		bottom: 0;
		display: block;
		width: 1000px;
		height: 2px;
		box-shadow: 0 3px 3px #f00;
		border-radius: 50%;
	}
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	height: auto;
}
.nav-select{
	color: #000;
}
.promo{
	overflow: hidden;
	background: url(../images/bg-promo-l.jpg) 50% 0;
}
.promo-right{
	position: relative;
	z-index: 0;
	height: 500px;
	@include media('>=screen-sm'){
		&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 34px;
			right: -9999px;
			background: url(../images/bg-promo-gray-r.jpg);
			z-index: -1;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -167px;
			width: 201px;
			background: url(../images/bg-promo-gray.png);
			z-index: -1;
		}
	}
}

.proffesion{
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
}
.proffesion__decor{
	display: inline-block;
	position: relative;
	padding: 0 13px;
	&:before,
	&:after{
		@include ycenter;
		content: '';
		height: 5px;
		border: solid #b3e4ff;
		border-width: 1px 0;
		box-shadow: 0 1px rgba(#000, .14) inset, 0 1px rgba(#000, .14);
		left: 100%;
		right: -999px;
	}
	&:before{
		right: 100%;
		left: -999px;
	}
}
.ava{
	display: inline-block;
	border: 2px solid #fff;
	box-shadow: 0 5px 16px rgba(#000, .58);
	border-radius: 50%;
	position: relative;
	padding: 7px;
	background:#e0e0e0;
	@include media('>=screen-md'){
		padding: 12px;
	}
	&:before{
		content: '';
		position: absolute;
		border: 10px solid rgba(#fff, .51);
		left: 7px;
		right: 7px;
		bottom: 7px;
		top: 7px;
		border-radius: 50%;
		@include media('>=screen-md'){
			border-width: 15px;
			left: 11px;
			right: 11px;
			bottom: 11px;
			top: 11px;
		}
	}
}
.ava__img{
	max-width: 238px;
	@include media('>=screen-md'){
		max-width: 100%;
	}
}
.portfolio-item{
	display: inline-block;
}
.portfolio-name{
	display: block;
	background: #f00;
}